.red {
  color: red;
}
* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  height: 3.66666667rem;
  background-color: #111111;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.nav i {
  color: white;
  font-size: 25px;
  line-height: 3.66666667rem;
}
.nav .left,
.nav .right {
  width: 1.46666667rem;
  height: 3.66666667rem;
  position: absolute;
  top: 0;
}
.nav .left {
  left: 1.06666667rem;
}
.nav .right {
  right: 1.06666667rem;
}
.nav .logo {
  height: 3.66666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .logo img {
  height: 2.66666667rem;
}
.body {
  position: relative;
  top: 3.66666667rem;
  padding-bottom: 4.33333333rem;
}
.swiper {
  height: 8.96666667rem;
}
.swiper img {
  width: 100%;
  height: 8.96666667rem;
}
.icon {
  height: 5.26666667rem;
  display: flex;
  justify-content: space-around;
}
.icon div {
  width: 2.36666667rem;
  height: 5.26666667rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon div i {
  line-height: 2.66666667rem;
  height: 2.66666667rem;
  font-size: 40px;
}
.icon div span {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.list {
  height: auto;
}
.list .title {
  position: relative;
  height: auto;
}
.list .title h3 {
  padding-left: 1.66666667rem;
  font-weight: 600;
}
.list .title .right {
  width: 1.46666667rem;
  height: 3.33333333rem;
  position: absolute;
  top: 0;
  right: 1.06666667rem;
}
.list .title .right i {
  font-size: 25px;
}
.list .item {
  height: 10.23333333rem;
  display: flex;
  justify-content: space-around;
  padding: 0.66666667rem 0;
}
.list .item img {
  width: 6.5rem;
  height: 8.86666667rem;
  border-radius: 10px;
}
.list .item div {
  height: 10.23333333rem;
  width: 7rem;
  text-align: center;
}
.list .item1 {
  height: 10.06666667rem;
  display: flex;
  justify-content: space-around;
  padding: 0.66666667rem 0;
}
.list .item1 div {
  width: 10.66666667rem;
  height: 10.06666667rem;
}
.list .item1 div span {
  color: #818181;
}
.list .item1 img {
  width: 10.56666667rem;
  height: 6.6rem;
  border-radius: 10px;
}
.footer {
  width: 100%;
  height: 3.33333333rem;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  z-index: 2;
}
.footer div {
  width: 3.33333333rem;
  height: 2.66666667rem;
}
.footer div i {
  height: auto;
  font-size: 30px;
}
