.red {
  color: red;
}
* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  height: 3.66666667rem;
  background-color: #111111;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.nav i {
  color: white;
  font-size: 25px;
  line-height: 3.66666667rem;
}
.nav .left,
.nav .right {
  width: 1.46666667rem;
  height: 3.66666667rem;
  position: absolute;
  top: 0;
}
.nav .left {
  left: 1.06666667rem;
}
.nav .right {
  right: 1.06666667rem;
}
.nav h2 {
  height: 100%;
  color: white;
  line-height: 3.66666667rem;
  font-weight: 500;
}
.body {
  height: auto;
  padding: 0.66666667rem 1rem;
  position: relative;
  padding-bottom: 4.33333333rem;
}
.body ul {
  list-style: none;
  margin-bottom: 1.66666667rem;
}
.body ul li {
  border-bottom: 1px solid #ccc;
  height: 2rem;
  display: flex;
  line-height: 2rem;
}
.body ul li li {
  float: left;
  margin-left: 1rem;
}
.body .item .list {
  height: 6.66666667rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.66666667rem;
}
.body .item .list div {
  width: 10.5rem;
  height: 6.7rem;
  background-image: url('../img/classify.jpg');
  background-size: cover;
  position: relative;
  border-radius: 10px;
}
.body .item .list div h3 {
  color: white;
  text-align: center;
  font-weight: 500;
}
.body .item .list .dongzuo {
  background-image: url('../img/classify1.jpg');
}
.body .item .list .katong {
  background-image: url('../img/classify2.jpg');
}
.body .item .list .jd {
  background-image: url('../img/classify3.jpg');
}
.body .item .list .guzhuang {
  background-image: url('../img/classify4.jpg');
}
.body .item .list .keji {
  background-image: url('../img/classify5.jpg');
}
.body .item .list .love {
  background-image: url('../img/classify6.jpg');
}
.body .item .list .lizhi {
  background-image: url('../img/classify7.jpg');
}
.footer {
  width: 100%;
  height: 3.33333333rem;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  z-index: 2;
}
.footer div {
  width: 3.33333333rem;
  height: 2.66666667rem;
}
.footer div i {
  height: auto;
  font-size: 30px;
}
.footer div span {
  display: block;
  width: 100%;
  text-align: center;
}
